mark {
  background-color: #f9f2ff !important;
}

.main {
  padding-top: 0;
}

@media (min-width: 768px) {
  .main {
    padding-top: 5%;
  }

  .copy {
    padding-top: 1em;
  }
}

.interest {
  text-decoration-line: underline;
  text-decoration-style: dashed;
}

.tech-logo {
  width: 20%;
  height: auto;
  padding: 5%;
}

.copy {
  padding-right: 0;
  padding-left: 0;
  padding-top: 1em;
}
