.image {
  position: relative;
  overflow: hidden;
  padding-bottom: 100%;
}
.image img {
  position: absolute;
  height: 100%;
}

.outer-container {
  width: 100%;
}

.mobile-menu {
  width: 50%;
  height: 100%;
  z-index: 50;
  background-color: white;
}
